################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JungleApp/bin/Debug/netcoreapp2.1
/.vs/JungleApp/v15
/JungleApp/obj
/JungleApp/Sample.xml
/.vs/JungleApp/DesignTimeBuild
/.vs/JungleApp/v16/Server/sqlite3
/.vs/JungleApp/v16
/JungleApp.Batch/bin/Debug
/JungleApp.Batch/obj/Debug
