@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="jumbotron">
        <h1>Welcome to Jungle App</h1>
        <p>App for test c#</p>
    </div>
</div>
<div class="row">
    <div class="panel panel-success">
        <div class="panel-heading">Topics</div>
        <div class="panel-body">
            <p>
                Project for test  c#
                For more details check my blog: https://fmoralesdev.com/
            </p>
        </div>

        <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item">Readonly & const Keyword</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <a href="#" onclick="signOut();">Sign out</a>
</div>

@section Scripts
    {
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="178337884874-b4jtk3bgv4jttv5badgba11k00eqhtle.apps.googleusercontent.com">

    <script type="text/javascript">
        function onSignIn(googleUser) {
            debugger;
            var id_token = googleUser.getAuthResponse().id_token;
            var profile = googleUser.getBasicProfile();
            console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
            console.log('Name: ' + profile.getName());
            console.log('Image URL: ' + profile.getImageUrl());
            console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
            console.log('Token id: ' + id_token);
        }
        function signOut() {
            debugger;
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
        }
    </script>
}
