@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="jumbotron">
        <h1>Welcome to Jungle App</h1>
        <p>App for test c#</p>
    </div>
</div>
<div class="row">
    <div class="panel panel-success">
        <div class="panel-heading">Topics</div>
        <div class="panel-body">
            <p>
                Project for test  c#
                For more details check my blog: https://fmoralesdev.com/
            </p>
        </div>

        <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item">Readonly & const Keyword</li>
        </ul>
    </div>
</div>
