<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="AppCountries" type="System.Configuration.NameValueSectionHandler" />
    <section name="AppCountriesSection" type="JungleApp.Batch.Infraestructure.ConfigurationAppCountriesSection, JungleApp.Batch" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <AppCountriesSection>
    <Countries>
      <Country name = "Argentina" continent="America" />
      <Country name = "New Zealand" continent="Oceania" />
      <Country name = "Spain" continent="Europe" />
      <Country name = "China" continent="Asia" />
      <Country name = "South Africa" continent="Africa" />
    </Countries>
  </AppCountriesSection>

  <AppCountries>
    <add key="Argentina" value="America"/>
    <add key="New Zealand" value="Oceania"/>
    <add key="Spain" value="Europe"/>
    <add key="China" value="Asia"/>
    <add key="South Africa" value="Africa"/>
  </AppCountries>

  <appSettings>
    <add key="Argentina" value="America"/>
    <add key="New Zealand" value="Oceania"/>
    <add key="Spain" value="Europe"/>
    <add key="China" value="Asia"/>
    <add key="South Africa" value="Africa"/>
  </appSettings>

</configuration>